.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
  
  .formCard {
    width: 40vw;
  }
  
  .avatarMenu {
    position: absolute;
    top: 64px;
    right: 26px;
    width: 250px;
    z-index: 1;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                    0 1px 18px 0 rgba(0, 0, 0, 0.12),
                    0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }
  
  .matchupCard {
      position: absolute;
      top: 50%;
      right: 50%;
      height: 90px;
      width: 120px;
  }